.hidden {
    display: none;
  }

.indentedlvl1 {
    padding-left: 10px; /* Indents the whole block */
}

.indentedlvl2 {
    padding-left: 20px; /* Indents the whole block */
}

.redtext {
    color: red;
  }

  .greentext {
    color: green;
  }